@media (max-width:600px){
  li div[name="status"]{
      display:none;
    }
  
   /* lista-nomes */
  .lista-nomes{
     
     text-align: left;
     font-size: 17px;
     font-family: 'Poppins', sans-serif;
     font-weight: 600;
     color: #647ba5;
    }
  .lista-nomes ~ div {
    font-size: 10px;
    text-align: left;
    font-family: 'Poppins', sans-serif;
   }
  li[id*="datosUsuario"] > div:nth-child(1),
  li[id*="datosUsuario"] > div:nth-child(2),
  li[id*="datosUsuario"] > div:nth-child(4),
  li[id*="datosUsuario"] > div:nth-child(5){
     display:none;
  }
}