@media ( min-width: 600px){
    /*---- body ----*/
    body{
    display:flex;
    flex-direction:column;
    /*gap: 10vw;*/
    background-color: #f0f0f0;
    }
    header{
      background-color:#f6f5f4;
      text-align:center;
      font-family:sans-serif;
      padding:2vw;
    }
    main{
      display: flex;
      flex-direction: column;
      gap: 1vw;
    }
    main > section:nth-child(1){
      background-color:#3584e4;
      padding:1vw;
      text-align:center;
    }
}