    #datosUsuario0{
        font-family: 'Raleway', sans-serif;
        background-color: #e7e7e7;
        padding: 2vh;
        font-size: 18px;
        border: 1px solid transparent;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
    }
    /* LISTA CLIENTES */
    .wraper-lista{
      margin:5vw;
    }
    .lista-clientes{
      /*border:1px solid #b9d0d6;*/
      border-radius:5px;
      
    }
    .titulos-lista-clientes{
      font-family:fantasy;
      display:flex;
      justify-content:space-evenly;
    }
    .lista-nomes{
     
     text-align: left;
     font-size: 17px;
     font-family: 'Poppins', sans-serif;
     font-weight: 600;
     color: #647ba5;
    }
    .lista-nomes ~ div {
    font-size: 10px;
    text-align: left;
    font-family: 'Poppins', sans-serif;
   }