/*---- body ----*/
    body{
    display:flex;
    flex-direction:column;
    /*gap: 10vw;*/
    background-color: var(--main-bkg-color-body);
    }
    header{
      background-color:var(--main-bkg-color-header);
      text-align:center;
      font-family:sans-serif;
      padding:2vw;
    }
    main{
      display: flex;
      flex-direction: column;
      /* gap: 1vw; */
    }
    main > section:nth-child(1){
      background-color:var(--main-bkg-color-seccion-ingresos-pendentes);
      padding:1vw;
      text-align:center;
    }