@import "./css/variables/variables-globales.css";
@import "./css/global/global.css";
@import "./css/mobil/mobil.css";
@import "./css/pc/pc.css";
/*@import "./css/tipografias/tipo-letras.css";*/
  *{
    margin:0;
    padding:0;
    border: none;
  }

 .o-gif-arranque{
  width: 100px;
   height:100px;
 }

   



