@import "./css/global/global.css";

@import "./css/mobil/mobil-max-600px-corpo.css";
@import "./css/pc/pc-min-600px-corpo.css";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Raleway:wght@600&display=swap');
  *{
    margin:0;
    padding:0;
    border: none;
  }
 

    #datosUsuario0{
        font-family: 'Raleway', sans-serif;
        background-color: #e7e7e7;
        padding: 2vh;
        font-size: 18px;
        border: 1px solid transparent;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
    }
 
    .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 200,
    'GRAD' 0,
    'opsz' 24
    }
  div[name="estado"]{
      font-size:18px;
      text-transform:uppercase;
      color:white;
      text-align: left;
      font-weight: 600;
    }


  /* definidas por min */
    /* Estado de pedido */
    .order{
      border:1px solid transparent;
      border-radius:20px;
      padding:10px;
    }
    .order[order-state="pagado"] {
      color: #6875b6;
      background-color:#d4ffd4;
    }
  
    .order[order-state="pendiente"] {
      color: #6875b6;
      background-color:#ffe9c9;
    }
  
    .order[order-state="cancelado"] {
      color: #6875b6;
      background-color:#ffc8c8;
    }
   
    /*.info-client > .imagen-client{
      border:1px solid black;
      border-radius:50%;
      background-color:#9696ed;
      margin: 9px;
    }*/
   


@media (min-width:600px){

  /* BLOQUE: ingresos-pendentes */
    .ingresos-pendentes{
      display:flex;
      justify-content:space-around;
        gap:10vw;
    }
    .ingresos-pendentes > article {
      font-family:'Poppins',fantasy;
      
    }
  
  /* etiquetas */
    div[name="money-client"]{
      font-size:7vh;
       color:white;
      /*padding:3vh;*/
    }
    div[name="ver-todo"]{
      display: flex;
      align-items: baseline;
      text-align:center;
      font-size:16px;
      border-radius:20px;
      background-color:#5599ec;
      border:1px solid transparent;
      padding:1vh;
      width: max-content;
      padding: 0.2rem;
      color: white;
      font-weight: 600;
    }
    div[name="ver-todo"]:hover{
      cursor:pointer;
      background-color:#99c1f1;
    }
    span[name="ver-todo"]{
      margin-left: 0.5vw;
      margin-right: 0.5vw;
    }
    span[name="frecha"]{
      /*border: 1px solid transparent;
      border-radius: 50%;
      background-color: #81a1e5;*/
      /*display: inline-block;*/
      width: 20px;
    }
  span[name="frecha2"]{
      /*border: 1px solid transparent;
      border-radius: 50%;
      background-color: #81a1e5;*/
      /*display: inline-block;*/
   
    margin-left: 10px;
      width: 20px;
    }
  } 

@media (max-width:600px){
  
  /***************/
    ul{
      /*display:none;*/
    }
    div[name="money-client"]{
      text-align: left;
      display: inline;
      font-size: 4vh;
      color:white;
    }
    div[name="ver-todo"] {
      display: inline;
      border-radius: 20px;
      background-color: #5599ec;
      border: 1px solid transparent;
      padding: 1vh;
      width: max-content;
      padding: 0.2rem;
      color: white;
      font-weight: 600;
    }
    div[name="estado"]{
      font-size:14px;
    }
    li div[name="datos-unicos"],li div[name="status"],li div[name="datos-persoais"]{
      display:none;
    }
    /*li div[name="status"]{
      display:none;
    }
   
    li div[name="datos-persoais"]{
      display:none;
    }*/
    /* facturas */
    .facturas{
        margin: 5vw;
      }
    .facturas > div {
      flex-wrap: wrap;
    }
    .wrape-ultimas-facturas{
        border:1px solid #e3e3e3;
        border-radius: 10px;
        background-color:white;
        /*box-shadow: inset 11px 10px 15px -3px rgba(77, 169, 201 ,0.7);*/
        box-shadow: 11px 10px 15px -3px rgba(77, 169, 201 ,0.5);
        margin:10px;
        flex:1;
      }
    /* ingresos */
    .ingresos-pendentes{
      flex-wrap: wrap;
      gap:1vw;
    }
  
    .ingresos-pendentes > article{
      
      text-align: left;
      border-bottom: 1px solid #f9f7f7;
      padding: 3vw;
      font-family: 'Poppins',fantasy;
      /* Arriba | Derecha | Abajo | Izquierda */
      /*margin: 0vw 5vw 0vw 5vw;*/
    }
    .ingresos-pendentes > article[name="terceira"]{
      border:none;
    }  
    .wraper-ingresos-pendentes{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

  /* lista-nomes */
  .lista-nomes{
     
     text-align: left;
     font-size: 17px;
     font-family: 'Poppins', sans-serif;
     font-weight: 600;
     color: #647ba5;
    }
  .lista-nomes ~ div {
    font-size: 10px;
    text-align: left;
    font-family: 'Poppins', sans-serif;
   }

  /* lista-clientes */
  .titulos-lista-clientes{
      font-family:fantasy;
      display:flex;
      justify-content:space-evenly;
    }
}

